.default-color0.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke: red; }

.default-color0.chart-line-symbol {
    -fx-background-color: yellow, green;
}
.default-color1.chart-line-symbol {
    -fx-background-color: red, red;
}

.default-color0.chart-legend-item-symbol{
    -fx-background-color: blue;
 }
.default-color1.chart-legend-item-symbol{
    -fx-background-color: red;
 }